*{
    margin-top: 5px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

}
.nav1{
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
    position: absolute;
    top: 130px;
    bottom: 0;
    left: 0;
    background: transparent;
    width: 70px;
    background: #E69A8DFF;
    overflow: hidden; 
}
.nav1{
    list-style: none;
}
.nav1 li{
    margin-bottom: 20px;
    display: inline-block;
    padding: 0px 0px;
}
.nav1 li a{
    position: relative;
    display: table;
    padding: 10px;
    font-weight: 900;
    color: #5F4B8BFF;
    transition: all 0.3s ease 0s;
}
.nav1 li a:hover{
    margin-left: 0px;
    color: black;
    background-color:rgb(234, 177, 167);
    color:#5F4B8BFF;
    padding-bottom: 25px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}
.icon{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
.nav1:hover{
    width: 180px;
    transition: all 0.5s ease;
    padding: 0;
}
